{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolinigz yangilandi{% endblock title %}


{% block content %}
<div class="section">

    <div class="book-wrapper">
      <div class="text-lo-text">
        <h2>Parolni yuborildi sahifasi</h2>
      </div>


      <div class="d-flex align-items-center justify-content-center books-shelf">
        <div class="book-card d-flex align-items-center" id="left">
          <div>
            <h3>Parol yangilandi!</h3>
            <p>Iltimos kirish tugmasini bosing va loginingiz bilan yangilangan parolni kiritib akkauntingizdan foydalaning!</p>
            <button class="book-btn" type="submit"><a href="{% url 'login' %}">Kirish.</a></button>

          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}



