{% extends 'base.html' %}

{% block title %}Emailga bog'lama yuborildi!{% endblock title %}


{% block content %}
<div class="section">

    <div class="book-wrapper">
      <div class="text-lo-text">
        <h2>Parolni yuborildi </h2>
      </div>


      <div class="d-flex align-items-center justify-content-center books-shelf">
        <div class="book-card d-flex align-items-center" id="left">
          <div>
            <h3>Email manzilingizni tekshiring. </h3>
            <p>Parolingizni tiklash uchun pochtangizga manzil yuborild iltimos pochtangizni tekshirib biz yuborgan manzil ustiga bosing!</p>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}
