{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parol eshingizdan chiqdimi?{% endblock title %}


{% block content %}
<div class="section">

    <div class="book-wrapper">
      <div class="text-lo-text">
        <h2>Parolni tiklash sahifasi</h2>
      </div>


      <div class="d-flex align-items-center justify-content-center books-shelf">
        <div class="book-card d-flex align-items-center" id="left">
          <div>
            <h4>Parol eshingizdan chiqdimi?</h4>
            <p>Quyidagi formaga manzilingizni kiriting, biz kalitni so'zni almashtirish uchun qo'llanma yuboramiz</p>

            <form action="#" method="post">{% csrf_token %}
                {{ form|crispy}}
            <div class="writeed">
              <button class="book-btn">Yuborish</button>
            </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}
