{% extends 'registration/wrapper.html' %}
  <!-- .sectionfor text and login -->
  {% block title %}
    Profil ma'lumotlari
  {% endblock title %}
{% block content %}
    <div class="section">
      <div class="text-wr-login">
        <h2>Shaxsiy ma’lumotlar</h2>
        <div class="personal-wrapper">
          <div class="text-center img_text">
            <img src="/static/static/image/unsplash_VVEwJJRRHgk (1).png" alt="persons-image">
            <p>Jorj Washington</p>
          </div>
          <div class="text-information">
            <p><b>Ism</b>: Jorj</p>
            <p><b>Familiya</b>: Washington</p>
            <p><b>Foydalanuvchi</b>: @jorjy</p>
            <p><b>Yashash joyi</b>: Andijon shahar</p>
            <p><b>Telefon raqami</b>: +998 99 123 45 67</p>
          </div>
          <div class="personal-btn text-center">
            <a href="change-personal-information.html" class="enter-web">O‘zgartirish</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

